<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Shot</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'home'  %}">Home</a>
                    <a href="{% url 'create_receipt'  %}">Receipt Create</a>
                    <a href="{% url 'list_categories'  %}">Category List</a>
                    <a href="{% url 'create_category'  %}">Create Category</a>
                    <a href="{% url 'list_accounts'  %}">Account List</a>
                    <a href="{% url 'create_account'  %}">Create Account</a>
                    {% else %}
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block form %}
        {% endblock form %}
        {% block content %}
        {% endblock content %}
    </main>

</body>

</html>