{% extends 'base.html' %}

{% block form %}
<div>
    <h1>Create Category</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name">
        <button>Create</button>
    </form>
</div>
{% endblock form %}