{% extends 'base.html' %}

{% block form %}
<div>
    <h1>Signup</h1><br>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password1">
        <input type="password" name="password2">
        <button>Signup</button>
    </form>
</div>
{% endblock form %}