{% extends 'base.html' %}

{% block form %}
<div>
    <h1>Create Receipt</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="vendor">
        <input type="text" name="total">
        <input type="text" name="tax">
        <input type="text" name="date">
        <select name="category">
            <select name="account">
                <button>Create</button>
    </form>
</div>
{% endblock form %}