{% extends 'base.html' %}

{% block content %}
<h1>My Receipts</h1>

<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for current in receipt_list %}
        <tr>
            <td>{{ current.vendor }}</td>
            <td>{{ current.total }}</td>
            <td>{{ current.tax }}</td>
            <td>{{ current.date|date:'m/d/Y' }}</td>
            <td>{{ current.category }}</td>
            <td>{{ current.account }}</td>
        </tr>
        {% endfor current %}
    </tbody>
</table>
{% endblock content %}